{% extends 'base.html' %}

{% block title %}Criar{% endblock title %}

{% block content %}
    <h1>Nova Tarefa</h1>

    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="mb-3 {% if field == form.done %}form-check{% endif %}">
          {{ field.label_tag }} {{ field }}
        </div>
      {% endfor %}

      <a href="{% url 'list' %}" class="btn btn-danger">Cancelar</a>
      <input type="submit" value="Criar" class="btn btn-primary">
    </form>
{% endblock content %}
