{% extends 'base.html' %}

{% block title %}Editar{% endblock title %}

{% block content %}
    <h1>Editar Tarefa</h1>
    <hr />

    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="mb-3">
          {{ field.label_tag }} {{ field }}
        </div>
      {% endfor %}

      <a href="{% url 'list' %}" class="btn btn-danger">Cancelar</a>

      <div class="float-end">
        <a href="{% url 'delete' task.id %}" class="btn btn-danger">Remover tarefa</a>
        <input type="submit" value="Enviar" class="btn btn-primary">
      </div>
    </form>

{% endblock content %}
